body{
	margin: 0;
    background: #555555;
    display: grid;
    grid-template-areas: 
    "nav2"
    "page";
    grid-auto-rows: 50px auto

}
nav{
    background: #555555;
    position: fixed;
    width: 100vw;
    height: 40px;


}

.listTab{
    display: inline-block;
    /* background: #7c7c7c; */
    border-radius: 3px;
    padding: 5px;
    /* float: left; */
    background:rgb(64,151,128);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    
}

.searchbar{
	border: 0;
    float: right;
    vertical-align: middle;
	overflow: hidden;
	grid-area: searchbar;
	
	background:#373737;
	border-radius: 15px;
	/* border-radius:  5px 100% 90% 5px; */
	align-self: center;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	color: grey;
	/* font-family: 'Courier New', Courier, monospace; */
	/* font-size: 0.9em; */
	margin-right: 10px;
    
}

.page{
    grid-area: page;
}
.content >:first-child{
    padding-top: 20px;
    padding-left: 100px;
}

.node{
    /* margin: 5px; */
    padding-left: 20px;
    /* display: block; */


}



.completed {
    text-decoration: line-through;
    /* opacity: 0.4; this includes the button */
}

.content{
	/* height: 100%; */
	
	background: #373737;
	color: white;
	font-family: 'Courier New', Courier, monospace;
    font-size: 1em;

    


/* padding-right: 41px; */
}




.node-handle{
    /* padding-top: 0.8em; */
	/* margin-left:11px; */
	/* margin-top: 10px;  base line: 4  +  margin from .name: 5   */

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	
	/* grid-area: handle; */
    /* justify-self: end; */
    /* float: left; */
    
	/* align-self: center; */
}

.name{
   padding-bottom: 0.4em;
   margin-left: 3em;
}

.node.uncollapsed .node-handle{
	content:url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='10'><circle cx='5' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(64,151,128)' /></svg>");
}

.node.uncollapsed .node-handle:hover{
    content:url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='10'><defs><filter id='f2' x='0' y='0' width='200%' height='200%'><feOffset result='offOut' in='SourceAplha' dx='3' dy='3' /><feGaussianBlur result='blurOut' in='offOut' stdDeviation='3' /><feBlend in='SourceGraphic' in2='blurOut' mode='normal' /></filter></defs><circle cx='5' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(164,200,158)' filter='url(#f2)' /></svg>");
}

.node.collapsed .node-handle{
	content:  url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='15'><circle cx='5' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(118,107,103)' /><circle cx='10' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(64,151,128)' /></svg>"); 
}
.node.collapsed .node-handle:hover{
	content:  url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='15'><circle cx='5' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(118,107,103)' /><circle cx='10' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(164,200,158)' /></svg>"); 
}



.node.completed .node-handle{
	content:url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='10'><circle cx='5' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(120,120,120)' /></svg>");
}

.node.urgent:not(.completed) > .node-handle:first-child{
    /* opacity: 0.5; */
    content:url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='10'><circle cx='5' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(230,100,100)' /></svg>");
}

.node.urgent:not(.completed) > .node-handle:first-child:hover{
	content:url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='10'><circle cx='5' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(164,200,158)' /></svg>");
}

.node.important:not(.completed) > .node-handle:first-child{
    /* opacity: 0.5; */
    content:url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='10'><circle cx='5' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(230,200,100)' /></svg>");
}
.node.important:not(.completed) > .node-handle:first-child:hover{
	content:url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10' width='10'><circle cx='5' cy='5' r='5' stroke='black' stroke-width='0' fill='rgb(164,200,158)' /></svg>");
}

.node.collapsed .children > *{
    visibility: hidden;
    height: 0;
}
.name:hover{
    color:red;
    /* border-top: #F00 solid 2px;  */
    
}
.notes{
    grid-area: notes;
}
.notes:empty{
    height: 0;
    visibility: hidden;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
    background: rgba(63, 224, 0, 0.459)
}

.keyoutput{
    text-align: center;
    /* align-self: center; */
    /* text-align: center; */
    background-color: rgb(192, 243, 228);
    color:rgb(104, 104, 104);
    padding-left:1em;
    padding-right:1em;
    border-radius: 3px;
    position: absolute;
    /* width: 10em;
    height: 1.4em; */
    left: 200px;
    bottom: 50px;
    /* position:  */
display: inline;
-webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
     opacity: 0;
}

 /* Let's get this party started */ 
 ::-webkit-scrollbar { width: 4px;  } 
 /* Track */ 
 ::-webkit-scrollbar-track {  background: #373737;   opacity: 0;} 
 /* Handle */ 
 ::-webkit-scrollbar-thumb {  background:  #7c7c7c;  opacity: 0.4;} 
 /* ::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); } */